.container {}

.formControl {
    width: max-content;
    height: max-content;
    padding: 20px;
    margin: 10px;
    background-color: antiquewhite;
}

.formControl:hover {
    background-color: aqua;
}